*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.About_Section{
    margin-top: 10px;
    padding: 40px;
    background-color: rgba(226, 226, 226, 0.356);
    text-align: center;

    h2{
        color: #ff00c8a6;
        margin-bottom: 40px;
        font-size: 28px;
        font-style: oblique;
        font-weight: 700;
        text-align: center;
    }

    p{
        color: rgba(0, 0, 0, 0.822);
    }

    img{
        margin-top: 50px;
        width: 100%;
    }
}



@media (min-width: 1024px) {


    .About_Section{
        margin-top: 10px;
        padding: 40px;
        background-color: rgba(226, 226, 226, 0.356);
        text-align: center;

        h2{
            color: #ff00c8a6;
            margin-bottom: 40px;
            font-size: 28px;
            font-style: oblique;
            font-weight: 700;
            text-align: center;
        }

        p{
            color: rgba(0, 0, 0, 0.822);
        }

        img{
            margin-top: 50px;
            width: 100%;
        }
    }
}